@import "modules/variables";

body {
	background: $red;
	color: $white;
	font-size:11.5pt; font-family:  Verdana, Arial, sans-serif; 
	font-weight:normal;
	line-height: 13pt;
	padding:50px;
}

.content h1 {
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0 0 20px 0;
}

.content p {
	font-size: 14px;
	text-align: center;
}

/* /////////////////////////////////////////////////////////////////////

MOBILE STYLES

///////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 640px) {
	body {
		background: $orange;
	}
}	